<div>
<h1>Film Fanatics</h1>
</div>

<p> For saving all of your favorite directors and their works!</p>

<%= link_to "Sign Up", signup_path %> | <%= link_to "Log In", login_path %>

<%= render 'sessions/oauth-link' %>